{
  "presets": ["react",["env", {"modules": false}], "stage-2"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-export-extensions",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }
    ]
  ]
}
